<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <h5 class="my-0 mr-md-auto font-weight-normal">Sewer</h5>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          
          <a class="me-3 py-2 text-dark " href="https://www.youtube.com/">YouTube</a>
          <a class="me-3 py-2 text-dark " href={% url 'home' %}>Главная</a>
          <a class="py-2 text-dark " href={% url 'about' %}>Обо мне</a>
          <a class="me-3 py-2 text-dark " href='admin'>ADMIN</a>
          <a class="me-3 py-2 text-dark " href={% url 'tabl' %}>Задания</a>
        </nav>
    </div>
    {% block body %}{% endblock %}
</body>
</html>